
@font-face {
    font-family: lato;
    src: url(../fuente/Lato-Regular.ttf);
}
h1, h2, h4, h5, h6{
    text-transform:uppercase;
    color: #444;
    font-family: rale;
    letter-spacing: 1px;
}

#acordion{
    text-align: center;
}

p{
    color: #888;
    font-family: lato;
    font-size: 15px;
}

#sec-acordion p, h3{
    text-align: center;
    font-family: rale;
}


#sec-tabla h2, p{
    text-align: center;
}

#sec-carrucel h2, p{
text-align: center;
}

#sec-carrucel{
    padding: 15px;
}